<h1>My tasks</h1>
<%# if task.completed true alors checked else "" %>
<ul>
<%@tasks.each do |task|%>
  <li>
    <%if task.completed%>
      <input type="checkbox" id="task" checked>
      <label for="task"><%= link_to task.title, task_path(task) %></label>
      <%=link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
        <i class="fa-solid fa-trash"></i>
      <%end%>
    <%else%>
      <input type="checkbox" id="task">
      <label for="task"><%=link_to task.title, task_path(task)%></label>
      <%=link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
        <i class="fa-solid fa-trash"></i>
      <%end%>
    <%end%>
  </li>
<%end%>

<%=link_to "Add a new task", tasks_new_path%>
